*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #b5e2e8;
}
.wonerimg{
  height: 150px;
  width: 150px;
  margin: 0 auto 20px;
  display: block;
  border-radius: 50%;
}
h3{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
  text-align: center;
  padding: 20px;
}
.card{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeeff0;
  margin: 20px 0;padding-left: 10px;

}
.main-card{
  background-color: rgb(218, 219, 218);
  height: 450px;
  padding-top: 1px;
}
.skil{
  margin: 10px 0 20px 0;
  display: inline-block;
  background-color: #9fe0e8;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.sp{
  padding-left:10px;
  padding-bottom: 10px;
}
h4{
  font-size: 20px;
  padding: 10px;
}
.p1{
  margin-left: 20px;

}
.p2{
  margin-left: 50px;
  padding-bottom: 10px;
}

.hlw{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 10px;
  text-decoration: none;

}
.ny{
  padding: 5px 0;
  padding-bottom: 10px;
}
a{
  text-decoration: none;
}
