*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #b5e2e8;
}
.wonerimg{
  height: 150px;
  width: 150px;
  margin: 0 auto 20px;
  display: block;
  border-radius: 50%;
}
h3{
  text-align: center;
}
.text{
  text-align: center;
  padding: 20px;
}
.card{
  background-color: #eeeff0;
  margin: 20px 0;padding-left: 10px;

}
.main-card{
  background-color: rgb(218, 219, 218);
  height: 450px;
  padding-top: 1px;
}
.skil{
  margin: 10px 0 20px 0;
  display: inline-block;
  background-color: #9fe0e8;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;

}
.sp{
  padding-left:10px;
  padding-bottom: 10px;
}
h4{
  font-size: 20px;
  padding: 10px;
}
.p1{
  margin-left: 20px;

}
.p2{
  margin-left: 50px;
  padding-bottom: 10px;
}

.hlw{
  text-align: center;
  padding-bottom: 10px;
  text-decoration: none;

}
.ny{
  padding: 5px 0;
  padding-bottom: 10px;
}
a{
  text-decoration: none;
}

.formDiv{
  background-color: #dcdcdd;
  height: 400px;
  width: 300px;
  border-radius: 25px;
  margin: auto;
}
body{
  background-color: #c5c3c6;
}
input{
  width: 250px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
  margin: 7px 0 7px 15px;
  border-radius: 0 10px 10px 10px;
  outline: none;
  border: none;
}
label{
  font-size: 20px;
  margin: 5px;
}
button[type="submit"]{
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px 50px 0 22px;
}
button[type="reset"] {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
button:hover{
  background-color: black;
  color: #fff;
  transition: 0.5s;
}
.formp{
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}
.formh2{
  text-align: center;
  font-size: 40px;
  padding-bottom: 40px;

}
.moreAbout{
    margin: 15px 0 20px 0;
  display: inline-block;
  background-color: #c5c3c6;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}
.moreAbout:hover{
  background-color: black;
  transition: 0.5s;
}